body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
	background: #111;
}
.box{
	position: absolute;
	top: 25%;
	left: 25%;
	transform: perspective(500px)rotateX(60deg);
}
.square{
	position: absolute;
	width: 1800px;
	height: 1800px;
	background: transparent;
	border: 100px solid #000;
	transform-style: preserve-3d;
	box-sizing: border-box;
	box-shadow: 0 0 0 5px #fff, inset 0 0 0 5px #fff;
	animation: rotate 40s linear infinite;
}
.square:before{
	content: '';
	position: absolute;
	top: -53px;
	left: -53px;
	right: -53px;
	bottom: -53px;
	border: 6px dashed #fff;
}
@keyframes rotate{
	0%{
		transform: rotateX(360deg);
	}
		100%{
		transform: rotateX(0deg);
	}
}
.square span{
	position: absolute;
	display: block;
	transform: scale(1);
}
.square span:nth-child(1){
	top: -80px;
	left: -75px;
	height: calc(100% + 150px);
	width: 8px;
	background: linear-gradient(180deg, #ff0, #f00);
}